<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div id="insert_div">

    </div>
{#    <script>#}
{#        $.ajax({#}
{#              url: "/products/",#}
{#              type: "GET",#}
{#              success: function(msg){#}
{#                 $('#insert_div').append(msg);#}
{#              },#}
{#              error: function(msg){#}
{#                 console.log('Ошибка');#}
{#              }#}
{##}
{#           }#}
{#        );#}
{#    </script>#}
{% block content %}
{% endblock %}
</body>
</html>